@use "../../index" as *;

$sm-breakpoint: 576px;
$med-breakpoint: 768px;
$lg-breakpoint: 992px;
$xlg-breakpoint: 1200px;

.full-screen-image-wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8vh;
  .full-screen-image {
    width: 90%;
  }
}

.playing-grounds {
  .playground-item {
    width: 85vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin: 25vh auto;
    justify-content: space-around;
    .left {
      height: 100%;
      width: 43%;
      .img-container {
        box-shadow: 0 5.4px 10.3px -33px rgba(0, 0, 0, 0.05), 0 43px 82px -33px rgba(0, 0, 0, 0.1);

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .right {
      height: 100%;
      width: 43%;
      .description {
        font-family: "Helvetica";
        text-transform: initial;
      }
      .link {
        margin-top: 5px;
        display: block;
      }
    }
  }

  @media screen and (max-width: $sm-breakpoint) {
    .playground-item {
      flex-flow: column nowrap;
      align-items: center;
      width: 100vw;

      .left {
        width: 90%;
        margin-bottom: 10px;
      }
      .right {
        width: 75%;
      }
    }
  }
}

.exit-the-matrix {
}

.ninjavascript {
}
