@font-face {
  font-family: "DrukWideBold";
  src: local("DrukWideBold"), url("./assets/fonts/DrukWideBold.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), url("./assets/fonts/helvetica.otf") format("opentype");
}

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

$sm-breakpoint: 576px;
$med-breakpoint: 768px;
$lg-breakpoint: 992px;
$xlg-breakpoint: 1200px;

* {
  box-sizing: border-box;
  cursor: none !important;
  scrollbar-width: none;
  // position: relative;
}

html {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DrukWideBold";
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  height: 100vh;
  width: 100vw;
  color: white;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
}

$project-width: 50vw;
$project-height: 80vh;
$project-number: 5;

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .wrapper {
    width: inherit;
    height: inherit;
    overflow: hidden;

    .mouseFollower {
      overflow: visible;
      mix-blend-mode: exclusion;
      z-index: 100000;
      position: fixed;
      width: 30px;
      height: 30px;
      top: 0;
      left: 0;
      pointer-events: none;
      * {
        pointer-events: none;
      }

      @media screen and (max-width: $med-breakpoint) {
        display: none;
      }
      .outer-circle,
      .inner-circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: white;
        opacity: 0.4;
        transform: translate(-50px, -50px);
      }

      .inner-circle {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        opacity: 0.8;
      }
    }

    .transition-hack {
      width: 100vw;
      height: 100vh;
      z-index: -10;
      position: fixed;
      top: 0;
      left: 0;
      background-size: cover;
      pointer-events: none;
    }

    .noise-filter {
      opacity: 0.04;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("./assets/img/noise.gif");
      z-index: 1000;
      pointer-events: none;
    }

    .background {
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;
      z-index: -1;

      .noise {
        opacity: 0.14;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("./assets/img/noise.gif");
      }
    }

    header {
      mix-blend-mode: exclusion;
      z-index: 101;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: 10vh;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: $sm-breakpoint) {
        font-size: 10px;
      }

      .left {
        margin-left: 25px;
        p {
          margin: 0;
          padding: 0;
        }

        .p1 {
          position: relative;
        }
        .p2 {
          position: absolute;
          left: 5%;
          color: rgba(255, 255, 255, 0.6);
          white-space: nowrap;
        }
      }

      .right {
        display: flex;
        flex-flow: row nowrap;

        .contact,
        .about {
          margin: 5px;
        }

        .about {
          margin-right: 25px;
          cursor: pointer;
        }
      }
    }

    .preload-container {
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 500;
      overflow: hidden;
      .preload-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .title-container {
          overflow-x: hidden;
          position: absolute;
          top: 17%;
          left: -20%;
          width: 100%;
          p {
            margin: 0;
            color: white;
            z-index: 10;
            font-size: 6vh;
            transform: translateX(-105%);
          }
          p:not(:first-child) {
            margin-left: 15px;
            margin-top: -18px;
          }
        }
        .title-dev {
          top: 65%;
          left: 50%;
          p {
            margin: 0;
            color: white;
            z-index: 10;
            font-size: 6vh;
          }
          p:not(:first-child) {
            color: rgba(255, 255, 255, 0.6);
          }
        }

        .load-percentage {
          position: absolute;
          top: -30%;
          right: -120%;
          font-size: 40vmin;
          opacity: 0.2;
          pointer-events: none;
        }
      }

      @media screen and (max-width: $sm-breakpoint) {
        .preload-wrapper {
          .title-container {
            top: 15%;
            left: -6%;
            p {
              font-size: 4.2vh;
            }

            p:not(:first-child) {
              margin-top: -12px;
            }

            &.title-dev {
              top: 62%;
              left: 28%;
            }
          }
          .load-percentage {
            top: -100%;
          }
          .preload-canvas {
            opacity: 0.6;
          }
        }
      }
    }

    .home {
      // width: 200vw;
      padding-top: 10vh;
      height: 100vh;

      .projects-wrapper {
        width: 100%;
        height: 80vh;
        .projects {
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0;
          margin: 0;
          width: $project-width * $project-number;
          // transition: all 0.1s ease-in-out;

          .project {
            display: flex;
            align-items: center;
            justify-content: center;
            height: $project-height;
            width: $project-width;
            position: relative;

            .canvasContainer {
              z-index: -1;
            }

            .project-name {
              z-index: 10;
              text-align: center;
              pointer-events: none;
              position: absolute;
              top: 50%;
              left: 50%;
              color: white;
              transform: translate(-50%, -50%);
              font-size: 11vmin;
              padding: 0;
              margin: 0;
              opacity: 0;
            }
          }
        }
      }

      .projects-progression {
        height: 10vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        z-index: -1000;

        .circle-container {
          .circle {
            width: 160px;
            height: 160px;
            border: 1px solid white;
            border-radius: 80px;
          }
          .circle-txt {
            text-align: center;
            position: absolute;
            width: 50px;
            height: 20px;
            color: white;
            background-color: black;
            left: 50%;
            top: 0;
            transform: translate(-50%, -50%);
          }
        }
      }

      @media screen and (max-width: $sm-breakpoint) {
        padding: 0;
        position: relative;

        .projects-wrapper {
          height: 100vh;
          overflow: scroll;
          .projects {
            flex-flow: column nowrap;
            width: 100vw;
            // adding 25 vh so at the bottom the last project can be in the middle of the screen
            height: strip-unit($project-width * $project-number) + 25 + vh;

            .project {
              width: 100vw;
              height: 50vh;

              &:last-child {
              }
            }
          }
        }
        .projects-progression {
          position: absolute;
          top: 52%;
          left: 50%;
          transform: translate(-50%, -50%);

          .hide-bottom {
            width: 100vw;
            height: 300px;
            position: absolute;
            top: 150px;
            left: 50%;
            transform: translate(-50%, -50%);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.78));
            z-index: 10;
          }

          .circle-container {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0.3;

            .circle {
              width: 160 * 3 + px;
              height: 160 * 3 + px;
              border-radius: 160 * 3 / 2 + px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            .circle-txt {
              top: -240px;
              font-size: 6vh;
              width: 150px;
              height: 64px;
            }
          }
        }
      }
    }

    .project-detail {
      -ms-overflow-style: none;
      background: white;
      width: 100%;
      height: 100vh;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        display: none;
      }
      * {
        color: black;
      }

      .banner {
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        .banner-img {
          width: inherit;
          height: inherit;
          background-size: cover;
          background-position: center center;
        }
      }

      .project-title-wrapper {
        width: 100vw;
        overflow: hidden;
        .project-title {
          width: 115vw;
          font-size: 40vmin;
          text-align: right;
          margin: 0;
          padding: 0;
          line-height: 0.9;
        }
      }

      .content {
        width: 100vw;
        background: white;

        .general-infos {
          margin: 5vh auto;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          width: 70vw;
          font-size: 3vmin;

          .left {
            width: 38%;
            text-align: right;

            .info-block {
              margin-bottom: 15px;
              .info-content {
                font-family: "Helvetica";
                text-transform: initial;
              }
            }

            .info-techs {
              .info-content {
                list-style-type: none;
                margin: 0;
                padding: 0;
              }
            }
          }

          .right {
            width: 55%;
            font-family: "Helvetica";
            text-transform: initial;

            .info-link {
              font-weight: 600;
              font-size: 18px;
            }
          }

          @media screen and (max-width: $sm-breakpoint) {
            width: 90vw;
            font-size: 4vmin;
            .left {
              width: 32%;
            }
            .right {
              width: 60%;
            }
          }
        }
      }

      .credits {
        width: 70vw;
        margin: 5vh auto;

        @media screen and (max-width: $sm-breakpoint) {
          width: 80vw;
        }

        .credits-title {
        }

        .credit-list {
          list-style: none;
          margin: 0;
          padding: 0;
          .credit {
            .value {
              margin-left: 8px;
              text-transform: initial;
              font-family: "Helvetica";
              font-weight: 600;
            }
          }
        }
      }

      .next-project-detail {
        width: 100vw;
        height: 100vh;
        position: relative;

        .filter {
          position: absolute;
          width: inherit;
          height: inherit;
          background-color: black;
          z-index: 100;
          opacity: 0.6;
        }

        .banner-img {
          width: inherit;
          height: inherit;
          background-size: cover;
          background-position: center center;
        }

        .banner-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 100;

          .next-text {
            z-index: 101;
            overflow: hidden;
            line-height: 1;

            .text-content {
              font-size: 60px;
              color: white;
            }

            &.next-project {
              opacity: 0.8;
              margin-bottom: 18px;
            }
          }

          @media screen and (max-width: $sm-breakpoint) {
            * {
              font-size: 40px !important;
            }
          }
        }
      }
    }

    .about-container {
      z-index: 0;
      .about-wrapper {
        display: flex;
        flex-flow: column nowrap;
        // position: static;
        width: 68vw;
        align-items: center;
        .about-canvas {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.4;
          z-index: -10;
        }
        .about-title {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 17.5vh;
          z-index: -1;
        }
        .about-content {
          // width: 800px;
          z-index: 10;
          * {
            font-family: "Helvetica";
            text-transform: none;
            font-size: 3.4vh;
          }
          .about-intro {
            align-self: center;
            display: flex;
            flex-flow: row nowrap;
            aside.links {
              margin-right: 20px;
              width: 30%;
              font-weight: 600;
              ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                text-align: end;
              }
            }
            .description {
              width: 70%;
            }
          }
          .about-skills {
            margin-top: 10vh;
            .skills-title {
              font-weight: 600;
              font-family: "DrukWideBold";
              text-transform: uppercase;
              font-size: 35px;
              margin-bottom: 15px;
            }
            .skills-dev,
            .skills-design {
              * {
                text-transform: lowercase;
                list-style: none;
              }
              .title {
                font-weight: 600;
              }
              ul {
                display: flex;
                flex-flow: row wrap;
                margin-top: 5px;
                margin-left: 0;
                padding-left: 0;
              }
              li {
                margin-right: 20px;
              }
            }
          }
        }
      }

      @media screen and (max-width: $med-breakpoint) {
        .about-wrapper {
          width: 87vw;
          .about-canvas {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -10;
            transform: translate(-50%, -50%);
          }

          .about-title {
            font-size: 60px;
          }

          .about-content {
            * {
              font-size: 18px;
            }

            .about-intro {
              aside.links {
                width: 23%;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
